<h2><%= @user.name %> さんのプロフィール</h2>

<p><strong>自己紹介：</strong></p>
<p><%= @user.introduction.presence || "未入力" %></p>

<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-primary mt-3" %>