<div class="container text-center mt-5">
  <h1 class="mb-4">welcome to Bookers !!</h1>
  <p>In Bookers,<br>
     you can share and exchange your opinions,<br>
     impressions, and emotions about various books!</p>

  <div class="mt-4">
<a class="btn btn-primary mx-2" href="/users/sign_in">Log in</a>
<a class="btn btn-success mx-2" href="/users/sign_up">Sign up</a>